html {
	background-color: #000000;
	//scroll-behavior:smooth;
	
}


body {
	background-color: #1500;
	color: #F2F2F2 ;
	font-family: Helvetica, Arial, sans-serif ;
	font-size: 16px;
	text-align: justify ;
	line-height: 1.25 ;
	margin: 16px auto ;
	padding: 32px ;
	border: 1px solid #424242;
	border-radius: 10px ;
	max-width: 70em ;
	width: 90% ;
}

h1, h2, h3, h4, .titulo {
	color: #F2F2F2;
	background-color: #000000;
	font-family: Verdana, Geneva, sans-serif ;
	font-weight: normal ;
	font-style: normal ;
	text-align: left ;
	border-radius: 10px;
}

h1 {
	font-size: 28pt ;
}

h1, img {
	vertical-align: text-bottom ;
}

h2:before {
	content: "\2756" ;
	padding-right: 0.5em ;
}




a, i, p, ul {
     color: #CED8F6;
}


.params-doc, .returns-doc {
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.params-doc:before, .returns-doc:before {
	content: "\2756" ;
	padding-right: 0.5em ;
}



.tool-button{
	background-color: #000000;
	border: 0px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;	 
 }



.float-right-top {
    position:relative;
    top: 5px;
    right: 5px;
    float: right;
}


.float-left-bottom {
    position:relative;
    bottom: 5px;
    left: 5px;
    float: left;
}

.float-right-bottom {
    position:relative;
    bottom: 5px;
    right: 5px;
    float: right;
}



.menu-button {
    background-color: #585858;
    color: #F2F2F2;
    border: 0px solid #F2F2F2;
    border-radius: 5px;
    text-align: left;
    font-size: 24px;
    padding: 0px;
    cursor: pointer;
}

.caixa {
   padding: 0px;
   margin-bottom: 60px;
   margin-right: 5px;
   margin-top: 30px;
   color:#CED8F6;
}

.bloco {
   padding: 0px;
   margin-bottom: 60px;
   margin-right: 5px;
   margin-top: 30px;
   color: black;
}

.com-borda {
   border: 1px solid #d5d5d5;
   padding:1px 1px 1px 1px;
   border-radius: 5px;
}

.com-corfundo{
	background-color: #abb2b9;
}

.com-corletra-black{
	color: black;
}
.com-corletra-white{
	color: white;
}

.caixa-doc{
	border: 1px solid #d5d5d5;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
}

.title-func, .subtitle-func {
    margin: 10px;
    
    color: silver;
}




pre{
  background-color:  #abb2b9 ;
  color: black;
  margin: 2px; 
  padding: 4px;
}


	
.footer {
	color: #F2F2F2;
	font-size: x-small ;
	text-transform: lowercase ;
	text-align:center;
}


  .box-scroll{
        /*border: 2px solid #000;*/
        padding: 1px;
        overflow-y: auto;
        height: 90%;
    }

 .floating-menu {
    font-family: sans-serif;
    /*background: #585858;*/
    background: #000000;
    border: 1px solid #686868;
    border-radius: 5px;
    color: #F2F2F2;
    padding: 5px;;
    /*width: 5px;*/
    z-index: 100;
    position: fixed;
    top: 5px;
    left: 5px;
    height: auto;
  }
  
  .floating-menu h1 {
    font-size: 13px;
    display: block;
    margin: 0 0.5em;
    color: #F2F2F2;
  }

  .floating-menu a {
    font-size: 13px;
    display: block;
    margin: 0 0.5em;
    color: #F2F2F2;
  }
               
